<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    hypertext markup language (html) is the standard markup
    language for <strong>creating <u>web</U> pages</strong> and web applications.
    <br>by 택병

</body>
</html>
